{
 :enable-rss?      true    ; If true, creates a feed.xml in _site.
 :run-build-clean? "never" ; Whether to clean out unused attachments on build. Values: "never" | "always" | "prompt"
 :firn-properties? true    ; global: whether to render properties under all headings
 :firn-fold        nil     ; global: fold headlines. Example: fold all headings of level 3 and 4: `{3 true 4 true}`
 :firn-toc         {:depth 4                ; Render N deep headlines.
                    :headline nil           ; The table of contents will begin at the headline "Notes"
                    :exclude-headline? nil  ; Do not render the headline "Notes", just its children.
                    } ; Table of Content Settings

 ;; Used for SEO & RSS.
 :site-author      "Lydéric Dutillieux"
 :site-title       "Lydéric's Digital Garden"
 :site-desc        "I share my thoughts about our world, for what it's worth.
                    I talk about IT, Business, Investement, Science and many topics
                    I find interesting"
 ;; Paths
 :dir-data         "data"   ; org-attachments/files to get copied into _site.
 :site-url         ""       ; Used for building links / accessing site url in layouts/partials. If Left blank, internal links will start with `/`
 :ignored-dirs     ["priv"]
 :firn-tags-path   "tags"   ; Path on which to structure link for org headings tags.
 :org-tags-path    "tags"}  ; Path on which to structure clickable file tags.
